@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Grape+Nuts&family=Montserrat:wght@400;700&family=Nunito&display=swap');

body {
    font-family: 'Gochi Hand', cursive;
    background-image: url(/img/bg1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
}

::placeholder {
    color: black;
    opacity: 0.6;
    padding: 0 0.5rem;
    font-family: 'Gochi Hand', cursive;
    ;
}

.nav {
    height: 15vh;
    background-color: rgba(192, 192, 192, 0.3);
}

.nav-header {
    margin-top: 0%;
    text-align: center;
    padding: 1rem 0;
    font-weight: bolder;
    font-size: 40px;
}

.input-div {
    margin: 2rem;
}

textarea {
    height: 13vh;
    background: transparent;
    border: 3px solid black;
    font-size: larger;
    display: block;
    margin: auto;
    width: 50%;
}


.btn-translate {
    font-family: 'Gochi Hand', cursive;
    font-size: 17px;
    background-color: black;
    color: white;
    display: block;
    margin: auto;
    width: 20%;
    margin-left: 26%;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;

}

.output-div {
    height: 16vh;
    border: 3px solid black;
    display: block;
    margin: auto;
    width: 48%;
    overflow-y: scroll;
}

footer{
    position: absolute;
    bottom: 0;
}

.footer {
    height: 24vh;
    background-color: rgba(192, 192, 192, 0.4);
    display: block;
    margin: auto;
    width: 100%;
}

.footer-header {
    text-align: center;
    padding-top: 1rem;
}

.footer-para {
    display: block;
    margin: auto;
    width: 60%;
    text-align: center;
}